<div>
  <div>
    <h1 class="text-center">
      My Recipes
    </h1>
  </div>
</div>

<hr>

<br>

<div>
  <div>
    <h2 class="text-center">
      Saved Recipes
    </h2>
  </div>

  <div>
    <h4 class="text-center">
      Add a new saved recipe
    </h4>

      <form action="/insert_saved_recipe" method="post">

      <div class="input-group col-12 text-center">
        <input type="hidden" id="source_url" name="query_source_url" value="<%= @path %>">
        <select class="form-select col-9" id="recipe_id_box" name="query_recipe_id" aria-label="Example select with button addon">
          <option selected>Select recipe...</option>
          <% Recipe.all.order(:name).each do |a_recipe|%>
            <option value=<%= a_recipe.id %>>
              <%= a_recipe.name %> - <%= a_recipe.ingredient_list.to_s.gsub(/[^a-zé0-9\s\,]/i, "").capitalize %>
            </option>
          <% end %>
        </select>
        <button class="btn btn-outline-secondary col-3">Save Recipe</button>
      </div>

    </form>

  </div>

</div>

<hr>

<div>
  <div class="container col-12 justify-content-center">
    <table class="table table-hover table-striped col-12">
      <thead class="thead-dark">    

        <th class="align-middle">
          Recipe
        </th>

        <th class="align-middle text-center">
          IBA Official
        </th>

        <th class="align-middle">
          Ingredients
        </th>

        <th class="align-middle">
        </th>

      </tr>

      <% @list_of_saved_recipes.each do |a_saved_recipe| %>
      <tr>   

        <td class="align-middle">
          <a href="/recipes/<%= a_saved_recipe.recipe.id %>"><%= a_saved_recipe.recipe.name %></a>
        </td>

        <td class="text-center">
          <% if a_saved_recipe.recipe.iba_status == true %>
            <i class="fas fa-award h5" style="color: goldenrod;"></i>
          <% end %>
        </td>

        <td class="align-middle">
          <%= a_saved_recipe.recipe.ingredient_list.to_s.gsub(/[^a-zé0-9\s\,]/i, "").capitalize %>
        </td>

        <td class="align-middle text-right">
          <form action="delete_saved_recipe/<%= a_saved_recipe.id %>">
            <input type="hidden" name="query_saved_recipe_id" value="<%= a_saved_recipe.id %>">
            <input type="hidden" id="source_url" name="query_source_url" value="<%= @path %>">
            <button class="btn btn-outline-danger btn-sm">
              Remove Save
            </button>
          </form>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
<br>

<div>
  <div>
    <h2 class="text-center">
      Created Recipes
    </h2>
  </div>

  <div>
    <h4 class="text-center">
      Create a new recipe
    </h4>

    <form action="/insert_recipe" method="post">
      <div class="input-group mb-3 col-12">
        <input type="hidden" id="source_url" name="query_source_url" value="<%= @path %>">
        <input type="text" id="name_box" name="query_name" class="form-control col-9" placeholder="Cocktail name, ie: Singapore Sling . . ." aria-label="Cocktail name, ie: Singapore Sling . . ." aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary col-3">Create Recipe</button>
      </div>
    </form>

  </div>

</div>

<hr>

<div>
  <div class="container d-flex col-12 justify-content-center">
    <table class="table table-hover table-striped col-12">
      <thead class="thead-dark">    

        <th class="align-middle">
          Recipe
        </th>

        <th class="align-middle text-center">
          IBA Official
        </th>

        <th class="align-middle">
          Ingredients
        </th>

      </tr>

      <% @list_of_recipes.each do |a_recipe| %>
      <tr>   

        <td class="align-middle">
          <a href="/recipes/<%= a_recipe.id %>"><%= a_recipe.name %></a>
        </td>

        <td class="align-middle text-center">
          <% if a_recipe.iba_status == true %>
            <i class="fas fa-award h5" style="color: goldenrod;"></i>
          <% end %>
        </td>

        <td>
          <%= a_recipe.ingredient_list.to_s.gsub(/[^a-zé0-9\s\,]/i, "").capitalize %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>