<div>
  <div>
    <h1 class="text-center">
      Cocktail Recipes
    </h1>
  </div>

  <hr>

  <div>
    <h4 class="text-center">
      Create a new recipe
    </h4>

    <form action="/insert_recipe" method="post">
      <div class="input-group mb-3 col-12">
        <input type="hidden" id="source_url" name="query_source_url" value="<%= @path %>">
        <input type="text" id="name_box" name="query_name" class="form-control col-9" placeholder="Cocktail name, ie: Singapore Sling . . ." aria-label="Cocktail name, ie: Singapore Sling . . ." aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary col-3">Create Recipe</button>
      </div>
    </form>

  </div>
</div>

<hr>

<div>
  <div class="container d-flex col-12 justify-content-center">
    <table class="table table-striped">
      <thead class="thead-dark">    

        <th class="align-middle">
          Recipe
        </th>

        <th class="align-middle text-center">
          IBA Official
        </th>

        <th class="align-middle">
          Ingredients
        </th>

        <th class="align-middle">
        </th>

      </tr>

      <% @list_of_recipes.each do |a_recipe| %>
      <tr>   

        <td class="align-middle">
          <a href="/recipes/<%= a_recipe.id %>"><%= a_recipe.name %></a>
        </td>

        <td class="align-middle text-center">
          <% if a_recipe.iba_status == true %>
            <i class="fas fa-award h5" style="color: goldenrod;"></i>
          <% end %>
        </td>

        <td class="align-middle">
          <%= a_recipe.ingredient_list.to_s.gsub(/[^a-zé0-9\s\,]/i, "").capitalize %>
        </td>

        <td class="align-middle text-right">

          <% matching_records = SavedRecipe.where({ :user_id => @current_user.id, :recipe_id => a_recipe.id }) %>
              <% saved_recipe = matching_records.first %>

              <div class="mb-3">
                <% if saved_recipe != nil %>
                  <form action="/delete_saved_recipe/<%= a_recipe.id %>">
                    <input type="hidden" id="source_url" name="query_source_url" value="<%= @path %>">
                    <input type="hidden" name="query_saved_recipe_id" value="<%= saved_recipe.id %>">
                    <button class="btn btn-outline-danger btn-sm">
                      Remove Save
                    </button>
                  </form>
                <% else %>
                  <form action="/insert_saved_recipe" method="post">
                    <input type="hidden" name="query_source_url" value="<%= @path %>">
                    <input type="hidden" name="query_recipe_id" value="<%= a_recipe.id %>">
                    <button class="btn btn-outline-secondary btn-sm">
                      Save
                    </button>
                  </form>
                <% end %>
              </div>

        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>